/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/* Center the container */
.container {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  font-size: 26px;
  line-height: 1.4;
  color: #606161;
  font-family:'Lato', Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: black;
}
a {
  text-decoration: none;
}


/******************************************
/* LAYOUT
/*******************************************/

header {
  background-image: url(images/Top-100-Podcasts-2.png);
  background-size: cover;
  color: #FFFAF1;
  clear: both;
  border-bottom: 5px solid #E30303;
  text-shadow: 2px 2px black;
}

.logo {
  display: inline;

  float: left;
  color: white;
  font-size: 100px;
  font-weight: 800;
  padding-top: 15px;
  padding-bottom: 45px;
}

.podcastslist a {
  white-space: nowrap;
}

.podcastslist {
  position: relative;
}

.blackback {
  background-color: rgba(0, 0, 0, .6);
}

nav {
  background-color: rgba(200, 0, 0, .7);
}

nav ul {
  position: relative;
}

.logo h1 {
  color: white;
  font-size: 50px;
}
.logo h2 {
  color: white;
  font-size: 20px;
  font-style: italic;
}

nav {
  display: block;
  font-weight: 600;
  clear: both;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  position: relative;
}

nav li {
  position: relative;
}

nav a:hover {
  color: #E30303;
}

header h2 {
  color: #FFFAF1;
}

.weeklist {
  padding-top: 10px;
}

.weeklist h2 {
  color: black;
  font-size: 25px;
  display: inline-block;
  float: left;
}

header li {
  display: inline-block;
  width: 20%;
  font-size: 26px;
  color: rgba(173,255,47,.8)
  position: absolute;
}

main {
 background-color: white;
 border-bottom: 5px solid #E30303;
}

footer {
  clear: both;
  background-color: black;
  text-align: center;
}

.search {
  margin-left: 30%;
  display: inline;
  float: right;
  padding-top: 35px;
}

h1 {
  font-size: 33px;
  font-weight: bold;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 17px;
  float: right;
  margin-top: 20px;
}

h5 {
  font-size: 15px;
}

p {
  font-size: 16px;
  color: black;
  text-align: justify;
}

footer h5 {
  padding: 100px;
  color: white;
}

.shows {
  margin-left: 5%;
  padding-top: 25px;
  padding-bottom: 25px;
}

.shows p {
}

.shows img {
  display: inline;
  float: left;
  margin-right: 10px;
  border-radius: 5px;
}


.shows h2 {
  color: black;
  display: inline;
  float: left;
}

.shows a {
  color: #E30303;
  clear: right;
  display: inline-block;
}

.show {
  margin-top: 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid #E30303;
  padding-bottom: 10px;
}

.show ul {
  font-size: 15px;
  margin-left: 5%;
}

.show li {
  padding: 10px;
}

.search {
  padding-bottom: 10px;
}

form {
  color: black;
}

input {
  font-size: 18px;
  border-radius: 5px;
}

a {
  color: #FFFAF1;
}

a:hover {
  color: black;
}

a:active {
  color: #2C3E50;
}

button {
  background-color: white;
  color: black;
}

.contribute {
  padding-top: 10px;
  padding-bottom: 10px;
  color: black;
  text-align: center;
}

.addAShow {
  text-align: left;
}

.contact {
  padding: 10px;
  margin-bottom: 100px;
}

.email {
  font-size: 14px;
}


.sorter h2 {
  float: left;
  display: inline-block;
  box-sizing: content-box;
  padding-top: 10px;
}

.reviews {
  padding-top: 10px;
}


.reviews li {
  padding: 10px;
}

.social {
  display: inline;
}

.social img {
  width: 50px;
  height: 50px;
  display: inline-block;
  padding: 5px;
}

.add {
  font-size: 20px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.addAShow {
  display: none;
  font-size: 18px;
}

input {
  margin-bottom: 5px;
  background-color: white;
}

.review1 {
  margin-top: 10px;
  clear: both;
  font-size: 20px;
  border-radius: 5px;
}

.findapod2 {
  display: none;
}

.shows img {
  height: 150px;
  width: 150px;
}

.sorter h2{
padding-right: 10px;
}

.menudropdown {
  visibility: hidden;
  background: rgba(200, 0, 0, .8);
  text-align: left;
  box-shadow: 2px 2px black;
  border-radius: 5px;
  position: absolute;
  left: 0;
  right: 0;
}

.menudropdown li {
  clear: both;
  padding: 10px;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid white;
  font-size: 18px;
  display: block;
}

.stars {
  display: inline;
  float: right;
  margin-right: none;
}


.stars img {
  width: 150px;
  height: 30px;
  margin: 0px;
}


@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px) {
    .container {
      max-width: 600px;
      width: 100%;
      margin: 0px auto;
    }

    nav li {
        display: block;
        clear: both;
        float: none;
        margin: 0px auto;
        border-bottom: 1px solid white;
        width: 100%;
    }

    .menudropdown {
      display: none;
    }

    .weeklist h2 {
      padding-left: 5px;
    }

    header {
      text-align: center;
      margin: 0px auto;
    }

    .logo {
      margin: 0px auto;
      float: none;
    }

    .search {
      margin: 0px auto;
      display: block;
      float: none;
    }

    .shows {
        margin-left: 20px;
        margin-right: 20px;
    }

    footer {
      text-align: center;
      margin: none;
      padding: none;
      float: none;
    }

}
